body{
    background-color: aliceblue;
    font-family: 'Oswald', sans-serif;
}
header{
    width: 100%;
    
    background: url(img/cabecera1.jpg);
    }

[canvas=container] {
	
	background-color: aliceblue;
	
}

.cabecera{
    background-image: url(/img/cabecera1.jpg);
}

.contenedor-ley{
    text-align: center;
}

p {
    font-family: cursive;
    color: black;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

h2{
    text-align: center;
    padding-bottom: .8rem;
}

.textos-body{
    text-align: justify;
    width: 100%;
}

li {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
    font-family: 'Oswald', sans-serif;
}

footer{
    font-family: 'Oswald', sans-serif;
    background-image: url(/img/cabecera1.jpg);
}

.pregunta .li{
    max-width: 500px;
    size: 300px;
}
.contenedor-sobre-nosotros{
    max-width: 100rem;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
    background: rgba(0, 89, 255, 0.356);
}
.contenedor-integrante{
    text-align: justify;
            flex-basis: calc(25% - 1rem);
            border: 1px solid #000000;
            ;
            padding: 1rem;
}
.textos-sobre-nosotros{
    text-align: justify;
}
.imagen-integrante{
    position: center;
}

img{
    display:block;
    margin:auto;
    }

    @media screen and (max-width:640px) {

    }
    @media screen and (max-width:1024px) and (min-width:640px) {
        /* reglas CSS */
    }
    @media screen and (min-width:1024px) {
        /* reglas CSS */
    }