body{
    background-color: aliceblue;
    font-family: 'Oswald', sans-serif;
}
<<<<<<< Updated upstream
=======

[canvas=container] {
	
	background-color: aliceblue;
	
}

.cabecera{
    background-image: url(/img/cabecera1.jpg);
}
>>>>>>> Stashed changes

p {
    font-family: cursive;
    color: black;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

li {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
    font-family: 'Oswald', sans-serif;
}

#main { 
    width:960px;
    margin:0 auto;
}

div {
    max-width: 800px;
    min-width: 300px;
}
footer{
    font-family: 'Oswald', sans-serif;
}

@media screen and (max-width:640px) {
    /* reglas CSS */
}

@media screen and (max-width:1024px) and (min-width:640px) {
    /* reglas CSS */
}

@media screen and (min-width:1024px) {
    /* reglas CSS */
}
.pregunta .li{
    max-width: 500px;
    size: 300px;
}
.contenedor sobre-nosotros{
    width: 200px;
    height: 200px;
}
.contenedor-integrante{
    position: absolute;
    top: auto;
    bottom: 0px;
    right: 100px;
    left: ;

}
